$background-color: #f8f7f6;
$second-background: #F9F3ED;
$new-collection-color:  rgba(193, 134, 83, 1); 
$body-color: #5a5a56;
$headline-color: #4B2E2B;

$buttons-padding: 15px 50px; 
$buttons-margin: 10px;
$buttons-border-radius: 20px;