@use './variables' as *;

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: $body-color;
}

/* NAVBAR STYLING */
.navbar-styling {
    background-color: $background-color;
    padding: 10px 20px;

    .brush-logo {
        width: 40px;
        margin-right: 10px;
    }

    .luxe-logo {
        margin-right: 50px;
    }
}


/* COLLECTION SECTION STYLING */
.new-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: left;

    .new-collection {
        color: $new-collection-color;
        background-color: $second-background;
        border-width: 1px;
        border-radius: 10px;
        padding: 10px;
        display: inline-block;
        margin-left: 100px;
    }
}


.new-handcrafted {
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;

    .new-text {
        font-weight: bold;
        color: $headline-color;
        line-height: 1;
        font-size: clamp(2.5rem, 4vw, 5rem);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    i {
        color: #C08552
    }
}

/* BUTTONS in Collections */
.btn.button-shop {
    background-color: #C08552;
    color: white;
    border-radius: $buttons-border-radius;
    padding: $buttons-padding;
    margin: $buttons-margin;
}

.btn.view-more {
    border-radius: $buttons-border-radius;
    padding: $buttons-padding;
    margin: $buttons-margin;
}

/*the main image container*/
.ceramics {
    display: flex;
    justify-content: center;

    img {
        border-radius: 5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    @media (min-width: 1400px) {
    .ceramics-img {
        width: 800px;
    }
}
}

@media (max-width: 800px) {
    .new-div {
        text-align: center;

        .new-collection {
            margin-left: 0px;
        }
    }

    .new-handcrafted {
        padding: 10px;
        margin: 0px;
    }
}

/* OUR STORY STYLING */
.our-story {
    background-color: $second-background;
    display: flex;
    text-align: center;
    padding: clamp(50px, 10vw, 100px);

    .headline1 {
        color: #4B2E2B;
        font-size: clamp(1rem, 2vw, 3rem);
        margin-top: 10px;
    }

    img {
        width: 60px;
    }

    @media (min-width: 1400px) {
        .our-story {
            padding-left: 500px;
            padding-right: 500px;
        }
    }
}

/* FEATURED COLLECTION */
.featured-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    overflow-x: hidden;

    /* text */
    .headline2 {
        color: $headline-color;
        font-size: clamp(1rem, 2vw, 3rem);
        padding-top: 50px;
        padding-left: 130px;
    }

    .feature-headline {
        color: $headline-color;
        font-weight: bold;
        margin: 0px;
    }

    .features-price {
        color: $new-collection-color;
    }

    .featured-description {
        display: flex;
        padding-bottom: 50px;
        padding-left: 130px;
    }

    /* images */

    .featured-images {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 140px;
    }

    img {
        border-radius: 5%;
        width: 350px;
        margin: 10px;
    }

    @media (max-width: 800px) {
        .headline2 {
            padding: 10px;
        }

        .featured-description {
            padding: 10px;
        }

        .featured-images {
            padding: 0px 50px 50px 50px;
        }
    }
}